@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.conic {
  background: conic-gradient(
    #ff9494 0% 40%,
    #0066c5 40% 50%,
    #ff0000 50% 80%,
    #60a662 80% 100%
  );
}

.thing1 {
  clip-path: polygon(0 0, 60% 0, 60% 83%, 0% 100%);
}
.thing2 {
  clip-path: polygon(0 0, 95% 0, 98% 45%, 0 47%);
}
.thing3 {
  clip-path: polygon(100% 0, 100% 69%, 51% 69%, 51% 61%, 0 62%, 0 10%);
}
.thing4 {
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}

.animation1 {
  animation: slidey-from-right ease-in-out 500ms;
}

.animation2 {
  animation: poppy ease-in-out 500ms;
}

.animation3 {
  animation: slidey-from-left ease-in-out 500ms;
}
.delay1 {
  animation-delay: 50ms;
}
.delay2 {
  animation-delay: 100ms;
}

@keyframes slidey-from-right {
  0% {
    translate: 100%;
    opacity: 0;
  }
  65% {
    opacity: 0.4;
  }
  100% {
    translate: 0%;
    opacity: 1;
  }
}
@keyframes slidey-from-left {
  0% {
    translate: -100%;
    opacity: 0;
  }
  65% {
    opacity: 0.4;
  }
  100% {
    translate: 0%;
    opacity: 1;
  }
}

@keyframes poppy {
  0% {
    scale: 0;
    opacity: 0;
  }
  /* 65% {
    scale: 0.4;
    opacity: 0.4;
  } */
  100% {
    scale: 1;
    opacity: 1;
  }
}

.hazard {
  background: linear-gradient(
    135deg,
    black 5%,
    yellow 5%,
    yellow 10%,
    black 10%,
    black 15%,
    yellow 15%,
    yellow 20%,
    black 20%,
    black 25%,
    yellow 25%,
    yellow 30%,
    black 30%,
    black 35%,
    yellow 35%,
    yellow 40%,
    black 40%,
    black 45%,
    yellow 45%,
    yellow 50%,
    black 50%,
    black 55%,
    yellow 55%,
    yellow 60%,
    black 60%,
    black 65%,
    yellow 65%,
    yellow 70%,
    black 70%,
    black 75%,
    yellow 75%,
    yellow 80%,
    black 80%,
    black 85%,
    yellow 85%,
    yellow 90%,
    black 90%,
    black 95%,
    yellow 95%,
    yellow 100%
  );
}

.memes {
  object-position: 70% 100%;
}
